
<form [formGroup]="form" class="search-form" (ngSubmit)="onSearch()">
  
  <div class="row">
    <div class="form-header d-flex justify-content-between align-items-center mb-3">
  <h5 class="text-white mb-0">Search Customer Filter</h5>
  <i class="bi bi-person-plus-fill create-icon" (click)="onCreateCustomer()"></i>
</div>

    <div class="form-group">
      <label>First Name</label>
      <input formControlName="firstName" placeholder="" />
    </div>
    
    <div class="form-group">
      <label>Last Name</label>
      <input formControlName="lastName" placeholder="" />
    </div>
    
    <div class="form-group">
      <label>Nat ID</label>
      <input formControlName="nationalId" placeholder="" />
    </div>
    
    <div class="form-group">
      <label>Customer ID</label>
      <input formControlName="customerNumber" placeholder="" />
    </div>
    
    <div class="form-group">
      <label>Account Number</label>
      <input formControlName="accountNumber" placeholder="" />
    </div>
    
    <div class="form-group">
      <label>GSM Number</label>
      <input formControlName="gsmNumber" placeholder="" />
    </div>
    
    <div class="form-group">
      <label>Order Number</label>
      <input formControlName="orderNumber" placeholder="" />
    </div>
  </div>
  
  <div class="buttons">
    <button type="button" (click)="onClear()">Clear</button>
    <button type="submit">Search</button>
  </div>
</form>