<div class="customer-account-section">
  <div class="d-flex justify-content-between align-items-center flex-wrap mb-3 header-bar">
    <h5 class="text-orange mb-2 mb-md-0">Customer Accounts</h5>
    <button class="btn btn-sm btn-orange" (click)="createAccount()">+ Add Customer Account</button>
  </div>

  <!-- Column Headers -->
  <div class="account-header d-flex align-items-center px-3 py-2">
    <div class="col col-status">Account Status</div>
    <div class="col col-number">Account Number</div>
    <div class="col col-name">Account Name</div>
    <div class="col col-type">Account Type</div>
    <div class="col col-action text-end">Action</div>
  </div>

  <div class="accordion" id="accountsAccordion">
    <div class="accordion-item" *ngFor="let acc of accounts(); let i = index">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed px-3"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse' + i"
          aria-expanded="false"
          [attr.aria-controls]="'collapse' + i">
          <div class="col col-status">{{ acc.status }}</div>
          <div class="col col-number">{{ acc.accountNumber }}</div>
          <div class="col col-name">{{ acc.accountName }}</div>
          <div class="col col-type">{{ acc.type }}</div>
          <div class="col col-action text-end">
            <i class="bi bi-trash me-2 text-danger" (click)="deleteAccount(acc.id)"></i>
            <i class="bi bi-pencil text-orange"></i>
          </div>
        </button>
      </h2>

      <div
        [id]="'collapse' + i"
        class="accordion-collapse collapse"
        [attr.data-bs-parent]="'#accountsAccordion'">
        <div class="accordion-body">
          <table class="table table-bordered mb-3">
            <thead>
              <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Campaign Name</th>
                <th>Campaign ID</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let acc of accounts()">
                <td>Product id</td>
                <td>Product name</td>
                <td>Campaign Name</td>
                <td>Campaign ID</td>
                <td>
                  <i class="bi bi-trash me-2 text-danger"></i>
                  <i class="bi bi-eye text-orange"></i>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-outline-orange" (click)="goToOfferSelection(acc.id)">Start New Sale </button>
            <button class="btn btn-sm btn-outline-orange">Transfer</button>
            <button class="btn btn-sm btn-outline-orange">Service Address Change</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-bar d-flex justify-content-end align-items-center flex-wrap mt-3">
    <button class="btn btn-outline-light btn-sm me-2" (click)="prevPage()">&lt;</button>
    <span class="page-info">1 / 3</span>
    <button class="btn btn-outline-light btn-sm ms-2" (click)="nextPage()">&gt;</button>
  </div>
</div>
