.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.page-content {
  flex: 1;
  margin-left: 100px;
  margin-top: 84px;
  background-color: #f8f9fa;
  padding: 1.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
