.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Sidebar solda sabit */
app-sidebar {
  width: 100px;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}

/* Router-outlet alanı */
.content-area {
  flex: 1;
  overflow-y: auto;
  background-color: #f7f8fa;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
}
